html {
  font-size: 62.5%; 
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.hero {
  position: relative;


}

.hero__text-content {
    position: absolute;
    top: 50%; /*to center verticaly*/
    left: 0;
    width: 100%; /*to center horizontaly*/
    text-align: center; /*to center horizontaly*/
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); /*to center verticaly*/
    padding-right: 2rem;
    padding-left: 2rem;
  }

@media (min-width: 530px) {

.hero__text-content {
      top: 50%
  }
  }

.hero__title {
    font-size: 3.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 3rem;

  }

@media (min-width: 530px) {

.hero__title {
      font-size: 6.5rem;
      margin-bottom: 5rem

  }
  }

@media (min-width: 800px) {

.hero__title {
      font-size: 7.5rem

  }
  }

@media (min-width: 1200px) {

.hero__title {
      font-size: 8rem

  }
  }

.hero__description {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1.4px;
    margin-bottom: 3rem;
  }

@media (min-width: 530px) {

.hero__description {
      font-size: 2.2rem
  }
  }

@media (min-width: 800px) {

.hero__description {
      font-size: 2.3rem
  }
  }

@media (min-width: 1200px) {

.hero__description {
      font-size: 3rem;
      margin-bottom: 6rem
  }
  }

.btn {
  background-color: #14AECF;
  color: #FFF;
  text-decoration: none;
  padding: 0.8rem 1rem;
  display: inline-block;
  font-size: 1.3rem;

}

@media (min-width: 530px) {

.btn {
    font-size: 1.8rem

}
  }

@media (min-width: 800px) {

.btn {
    font-size: 2rem

}
  }

@media (min-width: 1200px) {

.btn {
    font-size: 3rem

}
  }

.container {
  width: 80%;
  max-width: 120rem;
  margin: 0 auto;
}
