.feature-mobile {
  

  &__image {}

  &__content {
    text-align: center;
    margin-top: 4rem;
  }

  &__subtitle {
    font-size: 1.3rem; 
    color: rgb(136, 132, 132);
    font-style: italic;
  }

  &__title {
    font-size: 2rem;
  }

  &__description {
    font-size: 1.3rem;
  }

  &__btn {
    font-size: 1.3rem;
    padding: 1.3rem 1.8rem;
  }
}