.hero {
  position: relative;

  &__text-content {
    position: absolute;
    top: 50%; /*to center verticaly*/
    left: 0;
    width: 100%; /*to center horizontaly*/
    text-align: center; /*to center horizontaly*/
    transform: translateY(-50%); /*to center verticaly*/


    @mixin atSmall {
      top: 50%;
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0;
    
    @mixin atSmall {
      font-size: 4rem;
      margin-bottom: 4rem;
    }

    @mixin atMedium {
      font-size: 8rem;
    }

    @mixin atLarge {
      font-size: 12rem;
    }

  }

  &__description {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1.4px;
    margin-bottom: 3rem;

    @mixin atSmall {
      font-size: 1.5rem;
      margin-bottom: 4rem;
    }

    @mixin atMedium {
      font-size: 2.3rem;
      margin-bottom: 4rem;
    }

    @mixin atLarge {
      font-size: 4rem;
      margin-bottom: 6rem;
    }
  }


}

