.testimonials {
  position: relative;
  background: url(../../assets/images/section-testimonials-bg.jpg) 50% 0%;
  height: 90vh;

  &__person {
    position: absolute;
  }

  &__image {
    display: inline-block;
    width: 33.33%;
  }

  &__content {
    transform: translateY(30%);
    text-align: center;
  }

  &__title {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 0;
  }

  &__subtitle {
    margin-top: 0.5em;
    color: rgb(180, 179, 179);
    font-size: 1.5rem;
  }

  &__description {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 200;
    margin-bottom: 1.5em;
  }

  &__btn {
    font-size: 2rem;
    color: $mainBlue;
    text-decoration: none;
    font-style: italic;
    font-weight: 300;
  }
}